<div id="uemsslideshow" class="container-fluid">
    <div id="carousel-indicators" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            {{#slides.slides}}
                <div class="carousel-item {{#active}}active{{/active}}">
                    <img src="{{image}}" alt="" class="w-100">
                    <div class="carousel-caption d-none d-md-block">
                        {{#text}}
                            <div class="caption">
                                {{{.}}}
                            </div>
                        {{/text}}
                    </div>
                </div>
            {{/slides.slides}}
        </div>
        <a class="carousel-control-prev" href="#carousel-indicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{{#str}}previous{{/str}}</span>
        </a>
        <a class="carousel-control-next" href="#carousel-indicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{{#str}}next{{/str}}</span>
        </a>
    </div>
</div>